<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" />
        <env name="DB_HOST" value="localhost" />
        <env name="DB_PORT" value="5433" />
        <env name="DB_NAME" value="api_ecommerce_test" />
        <env name="DB_USER" value="admin" />
        <env name="DB_PASS" value="admin" />
    </php>
</phpunit>