* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family:
    Helvetica Neue,
    Segoe UI,
    Roboto,
    Ubuntu,
    sans-serif;
}

body {
  margin: 0 5%;
}

h1 {
  color: #036ab0;
  margin: 40px 0px 20px;
  margin-left: 24px;
}

button {
  width: auto;
  height: 38px;
  padding: 0px 50px;
  background-color: #fdfdfd;

  color: #353535;
  font-weight: 600;
  font-size: 0.9rem;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #036ab0;
  padding: 0px 51px;
  color: white;
  border: none;
}
